html,
body {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #404242;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  max-width: 1670px;
  width: 100%;
  margin: 0 auto;
}

html,
body {
  min-height: 100%;
  width: 100%;
}

body {
  
}

